aniso8601==1.2.0
appdirs==1.4.0
click==6.7
cov-core==1.15.0
coverage==4.3.4
coveralls==1.1
docopt==0.6.2
Flask==0.12
Flask-JWT==0.2.0
flask-mongoengine==0.8.2
Flask-REST==1.1
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
mccabe==0.6.1
mongoengine==0.11.0
packaging==16.8
passlib==1.7.1
pep257==0.7.0
pep8==1.7.0
Pillow
py==1.4.32
pycodestyle==2.3.1
pydocstyle==1.1.1
pyflakes==1.5.0
PyJWT==1.4.2
pylama==7.3.3
pymongo==3.4.0
pyparsing==2.1.10
pytest==3.0.6
pytest-cov==2.4.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
six==1.10.0
Werkzeug==0.11.15
WTForms==2.1
flask_admin